body {
    background-color: #013668;
    font-family: 'EB Garamond', serif;
    color: #fff;
  }
  a {
    color: #fdb813;
  }
  
 .dre {
   max-width:500px;
   margin:0 auto;
 }
  
 .my-class {
   img {
     max-width:100%;
   }
 }
  
  .dre {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .my-class img{
    max-width:100%;
  }
  